<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/sidebar.ejs') %>
        <div class="col-sm-9">
         <h1><%= game.name %> - <%= game.platform.name %>  </h1>
         <hr>
            <% if (game !== undefined) { %> 
                <p><b>Description:</b> <i><%= game.description %></i> </p>
                <p><b>Release date:</b> <%= game.release_date_formatted %> </p>
                <p><b>Price:</b> $<%= game.price %> </p>
                <p><b>Stock level:</b> <%= game.stock %> </p>
            <% } %>
      
            <hr>
              
            <a href=<%= game.url+"/update" %> >Update game</a>
            <br>
            <br>
            <a href=<%= game.url+"/delete" %>>Delete game</a>
        </div>
      </div>
    </div>
  </body>
</html>
