<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/sidebar.ejs') %>
        <div class="col-sm-9">
          <h1><%= game.name %> </h1>
         
            <% if (game !== undefined) { %> 
                <p>Title: <%= game.name %> - <%= game.platform.name %> </p>
                <p>Description: <%= game.description %> </p>
                <p>Release date: <%= game.release_date %> </p>
                <p>Price: $<%= game.price %> </p>
                <p>Stock quanitity: <%= game.stock %> </p>
            <% } %>
         

            <hr>
              
            <a href=<%= game.url+"/update" %> >Update game</a>
        </div>
      </div>
    </div>
  </body>
</html>
