<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/sidebar.ejs') %>
        <div class="col-sm-9">
          <h1><%= title %></h1>

          <form action="" method="post">
            <label for="name">Name: </label>
            <input class="form-control" type="text" id="name" required
            name="name"
    
             value="<%- platform !== undefined ? platform.name : '' %>" >
            <br />

            <label for="description">Description:</label>
            <input class="form-control" type="text" id="description" required
            name="description"
            value="<%- platform !== undefined ? platform.description : '' %>" > 
            <br />

            <button class="btn btn-primary" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
