<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/sidebar.ejs') %>
        <div class="col-sm-9">
          <h1><%= platform.name %> </h1>
          <hr>
            <% if (platform !== undefined) { %> 
                <p><b>Description: </b><i><%= platform.description %></i></p>
                <% if (games.length > 0) { %>
                    <p><b>Games:</b>
                <ul>
                    <% games.forEach(game => { %>
                        <li><a href=<%= game.url %> ><%= game.name %></a> </li>
                       <% }) %> </p>
                   <% } %>
                </ul> 
                <% } %>
                <hr>
              
                  <a href=<%= platform.url+"/update" %> >Update platform</a>
                  <br>
                  <br>
                  <a href=<%= platform.url+"/delete" %>>Delete platform</a>
        </div>
      </div>
    </div>
  </body>
</html>
